assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/
protected/vendor/*
!protected/vendor/.gitignore
vendor/reportico/yii2-reportico/
vendor/scotthuangzl/yii2-google-chart/
